name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.4
        extensions: sockets, calendar, pcov
        coverage: pcov

    - name: Install Dependencies
      run: composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader

    - name: Run PHPUnit with Coverage
      run: vendor/bin/phpunit tests --coverage-clover coverage.xml --coverage-filter src

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        flags: validation
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
